@model MangaStore.Models.IDNoiBat

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div style="margin-left: 500px; margin-top : 200px;">

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4>ID Nổi Bật </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idNoiBat1)

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.idNoiBat1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.idNoiBat1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Mã Nổi Bật
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaNoiBat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaNoiBat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Mã Truyện
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaTruyen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaTruyen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-default" /> |
                @Html.ActionLink("Trở Về", "Index")
            </div>
        </div>
}

</div>