@model IEnumerable<MangaStore.Models.IDNoiBat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div style="margin-left: 200px; margin-top : 200px;">
    <h2 style="color: red;">QUẢN LÝ TRUYỆN NỔI BẬT</h2>

    <p>
        @Html.ActionLink("THÊM MỚI", "Create")
    </p>
    <table class="table">


        <tr>
            <th>
                ID NỔI BẬT
            </th>

            <th>
                MÃ NỔI BẬT
            </th>
            <th>
                MÃ TRUYỆN
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idNoiBat1)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaNoiBat)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaTruyen)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.idNoiBat1 }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.idNoiBat1 })
                </td>
            </tr>
        }

    </table>
</div>
<div style="margin-top: 400px;margin-left: 200px;font-weight: bold;">
    MÃ 1 : NỔI BẬT THEO TUẦN <br>
    MÃ 2 : NỔI BẬT THEO THÁNG<br>
    MÃ 3 : NỔI BẬT THEO NĂM
</div>
