@model IEnumerable<MangaStore.Models.THELOAI>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div style="margin-left: 400px; margin-top : 200px;">
    <h2 style="color: red;">QUẢN LÝ DANH SÁCH THỂ LOẠI</h2>

    <p>
        @Html.ActionLink("THÊM MỚI", "Create")
    </p>
    <table class="table">


        <tr>
            <th>
                MÃ THỂ lOẠI
            </th>

            <th>
                TÊN THỂ LOẠI
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaTL)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenTL)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.MaTL }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.MaTL })
                </td>
            </tr>
        }

    </table>
</div>
