@model MangaStore.Models.User
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal" style="margin-left: 400px; margin-top : 200px;">
    <h4>CHỈNH SỬA THÔNG TIN TÀI KHOẢN</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MaUser)
    <div class="form-group">
        Mã Tài Khoản
        <div class="col-md-10">
            @Html.EditorFor(model => model.MaUser, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MaUser, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        Email
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        Mật Khẩu
        <div class="col-md-10">
            @Html.EditorFor(model => model.Matkhau, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Matkhau, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        Địa Chỉ
        <div class="col-md-10">
            @Html.EditorFor(model => model.Diachi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Diachi, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        Số Điện Thoại
        <div class="col-md-10">
            @Html.EditorFor(model => model.Sodienthoai, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Sodienthoai, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="LƯU" class="btn btn-default" />
            | @Html.ActionLink("Quay Lại", "Index")
        </div>
    </div>
</div>
}


